APP_ENV=dev
APP_SECRET=change_me
APP_SHARE_DIR=var/share
DEFAULT_URI=http://localhost

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_in_production

DATABASE_URL="postgresql://user:pass@db:5432/app?serverVersion=15&charset=utf8"
